<div class="page-title">
  <h4>
    <a routerLink="/order">Order</a>
    <span *ngIf="isAddingItem">
      <i class="material-icons">keyboard_arrow_right</i>
      {{categoryName | titlecase}}
    </span>
  </h4>
  <button
    class="waves-effect btn grey darken-1 shopping-cart"
    (click)="openCart()"
    [disabled]="orderStorageS.cart.length === 0"
  >
    <span>shopping cart</span>
    <i class="material-icons">add_shopping_cart</i>
  </button>
</div>

<router-outlet></router-outlet>

<div #orderModal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Your order</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>Name</th>
        <th class="center">Quantity</th>
        <th class="center">Price</th>
        <th></th>
      </tr>
      </thead>

      <tbody *ngIf="orderStorageS.cart.length !== 0; else empty">
      <tr *ngFor="let item of orderStorageS.cart">
        <td>{{item.name}}</td>
        <td class="center">{{item.quantity}}</td>
        <td class="center">{{item.cost}}</td>
        <td><i class="material-icons pointer" (click)="removePosition(item)">delete</i></td>
      </tr>
      </tbody>
      <ng-template #empty>
        <p>Your shopping cart is empty.</p>
      </ng-template>
    </table>
    <div *ngIf="orderStorageS.cart.length !== 0" class="order-summary">
      <p>Total price <strong>{{orderStorageS.totalPrice}} uah</strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="closeCart()"
      class="waves-effect waves-black btn-flat"
      [disabled]="isPending"
    >Cancel</button>
    <button
      (click)="confirmOrder()"
      class="btn waves-effect"
      [disabled]="orderStorageS.cart.length === 0 || isPending"
    >Confirm</button>
  </div>
</div>
