<div class="page-title">
  <h4>
    <a routerLink="/categories">Categories</a>
    <i class="material-icons keyboard-arrow-right">keyboard_arrow_right</i>
    <span class="not-clickable">{{ isNewCategory ? 'adding' : 'editing'}} category</span>
  </h4>
  <span>
    <button
      *ngIf="!isNewCategory"
      class="btn btn-small red"
      (click)="deleteCategory()"
    >
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="col s12 l6">
    <div class="input-field">
      <input
        id="name"
        type="text"
        formControlName="categoryName"
        [ngClass]="{'invalid': this.form.invalid && categoryNameControl.touched}"
      >
      <label for="name">Название</label>
      <span
        *ngIf="this.form.invalid && categoryNameControl.touched"
        class="helper-text red-text"
      >
        This field is required. Please, enter category's name.
      </span>
    </div>

    <div>
      <input
        type="file"
        #uploadInput
        (change)="onFileUpload($event)"
        class="d-none"
      >
      <button
        (click)="triggerUploadInput()"
        [disabled]="form.disabled"
        type="button"
        class="waves-effect waves-light btn orange lighten-2 mb2"
      >
        <i class="material-icons left">backup</i>
        Загрузить изображение
      </button>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        class="waves-effect waves-light btn"
      >
        Сохранить изменения
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img
      class="responsive-img h-200"
      [src]="imagePreview"
      *ngIf="imagePreview"
    >
  </div>
</div>

<app-positions-form></app-positions-form>
