<div *ngIf="!isLoading; else loader">
  <table *ngIf="positions.length !== 0; else empty" class="highlight">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let position of positions">
      <td>{{position.name}}</td>
      <td>{{position.cost}} uah.</td>
      <td>
        <div class="input-field inline order-position-input">
          <input
            type="number"
            [(ngModel)]="position.quantity"
            pattern="\d+"
            min="1"
          >
        </div>
      </td>
      <td>
        <button
          (click)="addToCart(position)"
          class="btn waves-effect wavers-light btn-small"
          [disabled]="!position.quantity"
        >Add</button>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #empty>
    <div>
      This category does not have any position yet.
    </div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
