<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Positions:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="addPosition()"
      >
        ADD POSITION
      </button>
    </div>

    <div *ngIf="!isLoading; else loading">
      <div *ngIf="positions.length; else emptyPositions" class="collection">
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="selectPosition(position)"
        >
        <span>
            {{position.name}} <strong>{{position.cost}} ua.</strong>
        </span>
          <span>
            <i class="material-icons">delete</i>
        </span>
        </a>
      </div>
      <ng-template #emptyPositions>
        <div>This category doesn't have any positions</div>
      </ng-template>
    </div>
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<div #modal class="modal">
  <div class="modal-content">
    <h4 class="mb1">Add position</h4>
    <div class="input-field">
      <input id="pos-name" type="text" required>
      <label for="pos-name">Name</label>
    </div>
    <div class="input-field">
      <input id="pos-cost" type="text" required>
      <label for="pos-cost">Price</label>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="modal-action waves-effect waves-black btn-flat"
      type="button"
      (click)="closeSelectingPosition()"
    >Cancel</button>
    <button class="modal-action btn waves-effect">Save</button>
  </div>
</div>
