<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Positions:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="addPosition()"
      >
        ADD POSITION
      </button>
    </div>

    <div *ngIf="!isLoading; else loading">
      <div *ngIf="positions.length; else emptyPositions" class="collection">
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="editPosition(position)"
        >
        <span>
            {{position.name}} <strong>{{position.cost}} ua.</strong>
        </span>
          <span>
            <i class="material-icons" (click)="deletePosition($event, position)">delete</i>
        </span>
        </a>
      </div>
      <ng-template #emptyPositions>
        <div>This category doesn't have any positions</div>
      </ng-template>
    </div>
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<form [formGroup]="modalForm" (ngSubmit)="submitForm()">
  <div #modal class="modal">
    <div class="modal-content">
      <h4 class="mb1">Add position</h4>
      <div class="input-field">
        <input
          id="pos-name"
          type="text"
          formControlName="name"
          [ngClass]="{'invalid': positionName.invalid && positionName.touched}"
        >
        <label for="pos-name">Name</label>
        <span
          *ngIf="positionName.invalid && positionName.touched"
          class="helper-text red-text"
        >
          This field is required.
        </span>
      </div>
      <div class="input-field">
        <input
          id="pos-cost"
          type="number"
          formControlName="cost"
          [ngClass]="{'invalid': positionCost.invalid && positionCost.touched}"
        >
        <label for="pos-cost">Price</label>
        <span
          *ngIf="positionCost.invalid && positionCost.touched"
          class="helper-text red-text"
        >
        Please, enter correct value for the 'cost' field. The value must be greater or equal to 1.
      </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="waves-effect waves-black btn-flat"
        type="button"
        (click)="closeSelectingPosition()"
        [disabled]="modalForm.disabled"
      >Cancel
      </button>
      <button
        type="submit"
        class="btn waves-effect"
        [disabled]="modalForm.invalid || modalForm.disabled"
      >Save</button>
    </div>
  </div>
</form>
