<div class="filter">
  <div class="fr">
    <div class="col order">
      <div class="input-field inline order-position-input">
        <input type="number" id="number" min="1" [(ngModel)]="order">
        <label for="number">Номер заказа</label>
      </div>
    </div>
    <div class="col filter-pickers">
      <div class="input-field">
        <input #start type="text" class="datepicker">
        <label>Начало</label>
      </div>

      <div class="input-field">
        <input [ngClass]="{'datepicker-danger': !isValid}" #end type="text" class="datepicker">
        <label [ngClass]="{'label-danger': !isValid}">Конец</label>
      </div>
    </div>
  </div>

  <button
    (click)="submitFilter()"
    [disabled]="!isValid"
    class="btn waves-effect wavers-light btn-small"
  >Применить фильтр</button>
</div>
